<!DOCTYPE html>
<html>
<body>
<h2>HTML Forms</h2>
<form action="/submit" method='POST'>
  <table>
    <tr>
      <td>Salary 1:</td>
      <td><input type="text" id="salary_1" name="salary_1" value="0"></td>
    </tr>
    <tr>
      <td>Salary 2:</td>
      <td><input type="text" id="salary_2" name="salary_2" value="0"></td>
    </tr>
    <tr>
      <td>Salary 3:</td>
      <td><input type="text" id="salary_3" name="salary_3" value="0"></td>
    </tr>
    <tr>
      <td>Salary 4:</td>
      <td><input type="text" id="salary_4" name="salary_4" value="0"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>
<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
</body>
</html>
