<!DOCTYPE html>
<html>
<body>
<h2>HTML Forms</h2>
<form action="/submit" method='POST'>
  <table>
    <tr>
      <td>Sallary 1:</td>
      <td><input type="text" id="sallary_1" name="sallary_1" value="0"></td>
    </tr>
    <tr>
      <td>Sallary 2:</td>
      <td><input type="text" id="sallary_2" name="sallary_2" value="0"></td>
    </tr>
    <tr>
      <td>Sallary 3:</td>
      <td><input type="text" id="sallary_3" name="sallary_3" value="0"></td>
    </tr>
    <tr>
      <td>Sallary 4:</td>
      <td><input type="text" id="sallary_4" name="sallary_4" value="0"></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>
<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
</body>
</html>
